@using EnerGym.ViewModels.WorkoutViewModels;

@model WorkoutRoutineAddViewModel;
@{
	ViewData["Title"] = "Add Routine";
}

<div class="d-flex justify-content-between align-items-center mb-3" style="margin-top: 20px;">
	<h2>@ViewData["Title"]</h2>
</div>
<hr />

